openapi: 3.0.3
info:
  title: "Digitaler Produktpass (DPP) API"
  description: |
    OpenAPI-Spezifikation basierend auf dem Entwurf der Norm DIN EN 18222:2025.
    Diese API standardisiert die Schnittstellen für das Lebenszyklusmanagement und die Durchsuchbarkeit von Digitalen Produktpässen (DPP) im Einklang mit der European Sustainability Product Regulation (ESPR).
    Sie umfasst drei Hauptbereiche:
    1.  **Life Cycle API**: Hauptmethoden zum Erstellen, Lesen, Aktualisieren und Löschen von DPPs.
    2.  **Registry API**: Eine Methode zur Registrierung eines neuen DPP im zentralen Register der EU-Kommission.
    3.  **Fine-Granular API**: Optionale Methoden für den detaillierten Lese- und Schreibzugriff auf einzelne Datenelemente innerhalb eines DPP.
  version: "2.0.0"
  contact:
    name: "DIN/DKE Gemeinschaftsgremium Digitaler Produktpass"
    email: "samarkhel-khan.yahya@din.de"

servers:
  - url: https://srv01.noah-becker.de/uni/swe/api
    description: "Produktiv-Server"
  - url: http://localhost:8081
    description: "Lokale Entwicklungsumgebung"

tags:
  - name: "DPP Life Cycle API"
    description: "Hauptmethoden zur Verwaltung des DPP-Lebenszyklus."
  - name: "DPP Registry API"
    description: "Schnittstelle zur Registrierung von DPPs im zentralen Register."
  - name: "DPP Fine-Granular Life Cycle API"
    description: "Optionale Operationen für den feingranularen Zugriff auf DPP-Daten."

paths:
  /dpps:
    post:
      tags:
        - "DPP Life Cycle API"
      summary: "Neuen DPP erstellen (CreateDPP)"
      description: "Erstellt einen neuen Digitalen Produktpass nach dem vorgegbenen Schema im Anforderungskörper."
      operationId: "createDPP"
      requestBody:
        required: true
        description: "Das DPP-Objekt, das erstellt werden soll. <i>&mdash; Partielle DPPs werden ebenso akzeptiert. <br> (Jedoch wird mindestens ein Submodel nach dem angegebenen Schema vorausgesetzt)</i>"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DPPRequestScheme"
      responses:
        "201":
          $ref: "#/components/responses/SuccessCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /dpps/{dppId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP anhand seiner ID abrufen (ReadDPPById)"
      description: "Gibt den Digitalen Produktpass für eine bekannte DPP-Kennung zurück."
      operationId: "readDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      responses:
        "200":
          $ref: "#/components/responses/DPP"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP teilweise aktualisieren (UpdateDPPById)"
      description: "Aktualisiert den Inhalt eines DPPs partiell (Patch). Der eingereichte DPP enthält nur die Daten, die aktualisiert oder hinzugefügt werden sollen. Die Aktualisierung ist atomar: Wenn ein Teil fehlschlägt, wird die gesamte Operation zurückgerollt."
      operationId: "updateDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      requestBody:
        required: true
        description: "Ein partielles DPP-Objekt, das die zu aktualisierenden Submodels enthält. Implementierungen können RFC 7396 (JSON Merge Patch) berücksichtigen."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DPPPatchScheme"
      responses:
        "200":
          description: "DPP erfolgreich aktualisiert. Gibt den vollständigen, aktualisierten DPP zurück."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPPScheme"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP löschen (DeleteDPPById)"
      description: "Entfernt einen DPP anhand seiner ID, z.B. am Ende seines Lebenszyklus. Zugriffsregeln steuern, ob die Löschung erlaubt ist."
      operationId: "deleteDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      responses:
        "204":
          description: "DPP erfolgreich gelöscht."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductId/{productId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "Aktuellen DPP anhand der Produkt-ID abrufen (ReadDPPByProductId)"
      description: "Gibt den aktuell aktiven (letzte Version) DPP für eine bekannte Produkt-Kennung zurück."
      operationId: "readDPPByProductId"
      parameters:
        - $ref: "#/components/parameters/productId"
      responses:
        "200":
          description: "Erfolgreiche Antwort mit dem angeforderten DPP."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPPScheme"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductIdAndDate/{productId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP-Version nach Produkt-ID und Datum abrufen (ReadDPPVersionByProductIdAndDate)"
      description: "Gibt eine spezifische Version eines DPP zurück, basierend auf seiner Produkt-ID und einem angegebenen Datum."
      operationId: "readDPPVersionByProductIdAndDate"
      parameters:
        - $ref: "#/components/parameters/productId"
        - name: date
          in: query
          required: true
          description: "Der Zeitstempel (UTC-basiert), für den die DPP-Version angefordert wird."
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: "Erfolgreiche Antwort mit der angeforderten DPP-Version."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPPScheme"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductIds:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP-IDs für eine Liste von Produkt-IDs abrufen (ReadDPPIdsByProductIds)"
      description: "Gibt eine Liste von DPP-Kennungen zurück, die zu einer Menge von Produkt-Kennungen passen. Paginierung wird über 'limit' und 'cursor' unterstützt."
      operationId: "readDPPIdsByProductIds"
      parameters:
        - name: productId
          in: query
          required: true
          description: "Eine Liste von Produkt-IDs, für die die entsprechenden DPP-IDs gefunden werden sollen (UTF8-BASE64-URL-encoded). Mehrere IDs können durch wiederholte Verwendung dieses Parameters angegeben werden."
          schema:
            type: array
            items:
              type: string
              example: "productId"
        - name: limit
          in: query
          description: "Maximale Anzahl der zurückgegebenen Ergebnisse."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: cursor
          in: query
          description: "Position, von der aus die Ergebnisliste fortgesetzt werden soll (für Paginierung)."
          schema:
            type: string
      responses:
        "200":
          description: "Eine Liste der passenden DPP-Kennungen."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListScheme"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  schemas:
    # Identifier
    IdentifierAAS:
      type: string
      description: "Ein base64-encodierter String"
      example: "aHR0cHM6Ly9kcHA0MC5oYXJ0aW5nLmNvbS9zaGVsbHMvWlNOMQ=="
    IdentifierDPP:
      type: string
      description: "productId + /DPP/ + timestamp --> base64-encodiert"
      example: "aHR0cHM6Ly9kcHA0MC5oYXJ0aW5nLmNvbS9zaGVsbHMvWlNOMS9EUFAvMjAyNS0xMS0xMlQxNDozMDowMCswMDowMA=="
  
    # DPP Schemas
    DPPRequestScheme:
      type: object
      description: "Repräsentiert das Anlegeschema eines Digitalen Produktpasses."
      properties:
        aasIdentifier:
          $ref: "#/components/schemas/IdentifierAAS"
        submodels:
          type: array
          items:
            $ref: "#/components/schemas/DPPSubmodelElement"
    DPPScheme:
      type: object
      description: "Repräsentiert den Digitalen Produktpass. Die genaue logische Struktur ist in 'Modul 4: Systeminteroperabilität' der Normungsreihe definiert und wird hier als generisches Objekt dargestellt."
      properties:
        status:
          type: string
          example: "Success"
        payload:
          type: object
          properties:
            dppId:
              $ref: "#/components/schemas/IdentifierDPP"
            timestamp:
              type: string
              format: date-time
              example: "2025-11-08T14:30:00Z"
            submodels:
              type: array
              items:
                $ref: "#/components/schemas/DPPSubmodelElement"
    DPPPatchScheme:
      type: object
      description: "Repräsentiert das Anlegeschema eines Digitalen Produktpasses."
      properties:
        submodels:
          type: array
          items:
            $ref: "#/components/schemas/DPPSubmodelElement"
        
    DPPSubmodelElement:
      type: object
      properties:
        displayName:
          type: array
          items:
            $ref: "#/components/schemas/LangString"
        description:
          type: array
          items:
            $ref: "#/components/schemas/LangString"
        category:
          type: string
        idShort:
          type: string
        extensions:
          type: array
          items:
            $ref: "#/components/schemas/Extension"
        embeddedDataSpecifications:
          type: array
          items:
            $ref: "#/components/schemas/EmbeddedDataSpecification"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
        qualifiers:
          type: array
          items:
            $ref: "#/components/schemas/Qualifier"
      example:
        displayName:
          - language: "string"
            text: "string"
        description:
          - language: "string"
            text: "string"
        category: "string"
        idShort: "string"
        extensions:
          - name: "string"
            value: "string"
            valueType: "ANY_URI"
            refersTo:
              - type: "EXTERNAL_REFERENCE"
                keys:
                  - value: "string"
                    type: "ANNOTATED_RELATIONSHIP_ELEMENT"
                referredSemanticId: "string"
            semanticId:
              type: "EXTERNAL_REFERENCE"
              keys:
                - value: "string"
                  type: "ANNOTATED_RELATIONSHIP_ELEMENT"
              referredSemanticId: "string"
            supplementalSemanticIds:
              - type: "EXTERNAL_REFERENCE"
                keys:
                  - value: "string"
                    type: "ANNOTATED_RELATIONSHIP_ELEMENT"
                referredSemanticId: "string"
        embeddedDataSpecifications:
          - dataSpecification:
              type: "EXTERNAL_REFERENCE"
              keys:
                - value: "string"
                  type: "ANNOTATED_RELATIONSHIP_ELEMENT"
              referredSemanticId: "string"
            dataSpecificationContent: {}
        semanticId:
          type: "EXTERNAL_REFERENCE"
          keys:
            - value: "string"
              type: "ANNOTATED_RELATIONSHIP_ELEMENT"
          referredSemanticId: "string"
        supplementalSemanticIds:
          - type: "EXTERNAL_REFERENCE"
            keys:
              - value: "string"
                type: "ANNOTATED_RELATIONSHIP_ELEMENT"
            referredSemanticId: "string"
        qualifiers:
          - type: "string"
            value: "string"
            kind: "CONCEPT_QUALIFIER"
            valueType: "ANY_URI"
            valueId:
              type: "EXTERNAL_REFERENCE"
              keys:
                - value: "string"
                  type: "ANNOTATED_RELATIONSHIP_ELEMENT"
              referredSemanticId: "string"
            semanticId:
              type: "EXTERNAL_REFERENCE"
              keys:
                - value: "string"
                  type: "ANNOTATED_RELATIONSHIP_ELEMENT"
              referredSemanticId: "string"
            supplementalSemanticIds:
              - type: "EXTERNAL_REFERENCE"
                keys:
                  - value: "string"
                    type: "ANNOTATED_RELATIONSHIP_ELEMENT"
                referredSemanticId: "string"
            
    ProductListScheme:
      type: object
      description: "Repräsentiert eine Liste von Produkt-Kennungen."
      properties:
        status:
          type: string
          example: "Success"
        payload:
          type: object
          properties:
            products:
              type: array
              items:
                $ref: "#/components/schemas/DPPListScheme"

    DPPListScheme:
      type: object
      description: "Repräsentiert eine Liste von DPP-Kennungen."
      properties:
        productId:
          $ref: "#/components/schemas/IdentifierAAS"
        dpps:
          type: array
          items:
            $ref: "#/components/schemas/DPPListIdentiferScheme"

    DPPListIdentiferScheme:
      type: object
      description: "Repräsentiert eine Liste von DPP-Kennungen."
      properties:
        dppId:
          $ref: "#/components/schemas/IdentifierDPP"
        timestamp:
          type: string
          format: date-time
          example: "2025-11-08T14:30:00Z"

        
    LangString:
      type: object
      properties:
        language:
          type: string
        text:
          type: string
    
    Extension:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueType:
          type: string
          enum: [ANY_URI]
        refersTo:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
    
    Reference:
      type: object
      properties:
        type:
          type: string
          enum: [EXTERNAL_REFERENCE]
        keys:
          type: array
          items:
            $ref: "#/components/schemas/Key"
        referredSemanticId:
          type: string
    
    Key:
      type: object
      properties:
        value:
          type: string
        type:
          type: string
          enum: [ANNOTATED_RELATIONSHIP_ELEMENT]
    
    EmbeddedDataSpecification:
      type: object
      properties:
        dataSpecification:
          $ref: "#/components/schemas/Reference"
        dataSpecificationContent:
          type: object
          additionalProperties: false
    
    Qualifier:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
        kind:
          type: string
          enum: [CONCEPT_QUALIFIER]
        valueType:
          type: string
          enum: [ANY_URI]
        valueId:
          $ref: "#/components/schemas/Reference"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
            
            

    # Nachrichtenstruktur
    Message:
      type: object
      description: "Eine Nachricht, die mehr Informationen für den Anforderer zu einem bestimmten Ereignis im Backend enthält"
      properties:
        messageType:
          $ref: "#/components/schemas/MessageTypeEnum"
        text:
          type: string
          description: "Nachrichtentext"
        code:
          type: string
          description: "Technologieabhängiger Status- oder Fehlercode"
          example: "DPP_001"
        correlationId:
          type: string
          description: "Kennung zum Verbinden von mehreren Ergebnisnachrichten über mehrere Systeme hinweg"
          example: "550e8400-e29b-41d4-a716-446655440000"
        timestamp:
          type: string
          format: date-time
          description: "Zeitstempel der Nachricht"
          example: "2025-11-10T14:30:00Z"
      required:
        - messageType
        - text
    
    # MessageTypeEnum
    MessageTypeEnum:
      type: string
      description: "Nachrichtentyp"
      enum:
        - Info
        - Warning
        - Error
        - Exception
    
    # Erfolgs-Response (Standard)
    SuccessResponse:
      type: object
      description: "Erfolgreiche API-Antwort ohne Ergebnisobjekt"
      properties:
        status:
          type: string
          enum:
            - Success
            - SuccessAccepted
            - SuccessNoContent
          description: "HTTP Success Status"
        message:
          $ref: "#/components/schemas/Message"
      required:
        - status
    
    # Spezielle Response für SuccessCreated mit dppId
    SuccessCreatedResponse:
      type: object
      description: "Erfolgreiche Erstellung mit Ressourcen-ID"
      properties:
        status:
          type: string
          enum:
            - SuccessCreated
          description: "HTTP Success Status"
        dppId:
          type: string
          description: "ID des erstellten Digitalen Produktpasses"
          example: "dpp-12345-abcde"
        message:
          $ref: "#/components/schemas/Message"
      required:
        - status
        - dppId
    
    # Fehler-Response mit Ergebnisobjekt
    ErrorResponse:
      type: object
      description: "Fehlerhafte API-Antwort mit Ergebnisobjekt"
      properties:
        status:
          type: string
          enum:
            - ClientErrorBadRequest
            - ClientNotAuthorized
            - ClientForbidden
            - ClientMethodNotAllowed
            - ClientErrorResourceNotFound
            - ClientResourceConflict
            - ServerInternalError
            - ServerErrorBadGateway
          description: "HTTP Error Status"
        message:
          $ref: "#/components/schemas/Message"
      required:
        - status
        - message

  responses:
    #DPP
    DPP:
      description: "Erfolg"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DPPScheme"
              
  
  
  
    # 2xx Success Responses
    Success:
      description: "Erfolg"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "Success"
            result:
              message:
                messageType: "Info"
                text: "Die Anfrage wurde erfolgreich verarbeitet."
                code: "DPP_SUCCESS"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    SuccessCreated:
      description: "Erfolgreiche Erstellung einer neuen Ressource"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessCreatedResponse"
          example:
            status: "SuccessCreated"
            dppId: "dpp-12345-abcde"
            result:
              message:
                messageType: "Info"
                text: "Der Digitale Produktpass wurde erfolgreich erstellt."
                code: "DPP_CREATED"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    SuccessAccepted:
      description: "Der Empfang der Anforderung war erfolgreich"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "SuccessAccepted"
            result:
              message:
                messageType: "Info"
                text: "Die Anfrage wurde akzeptiert und wird verarbeitet."
                code: "DPP_ACCEPTED"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
      
    SuccessNoContent:
      description: "Erfolg mit explizit keinem Inhalt in der Nutzlast"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "SuccessNoContent"
            result:
              message:
                messageType: "Info"
                text: "Die Anfrage wurde erfolgreich verarbeitet, kein Inhalt zurückgegeben."
                code: "DPP_NO_CONTENT"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
      
    # 4xx Client Error Responses (weist Ergebnisobjekt auf)
    BadRequest:
      description: "Schlechte oder fehlerhafte Anforderung"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientErrorBadRequest"
            result:
              message:
                messageType: "Error"
                text: "Die Anfrage enthält ungültige Parameter."
                code: "DPP_BAD_REQUEST"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    Unauthorized:
      description: "Falsche oder fehlende Berechtigungsnachweise"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientNotAuthorized"
            result:
              message:
                messageType: "Error"
                text: "Authentifizierung fehlgeschlagen."
                code: "DPP_UNAUTHORIZED"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    Forbidden:
      description: "Autorisierung wurde verweigert"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientForbidden"
            result:
              message:
                messageType: "Error"
                text: "Sie haben keine Berechtigung für diese Ressource."
                code: "DPP_FORBIDDEN"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    MethodNotAllowed:
      description: "Methodenanforderung ist nicht zulässig"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientMethodNotAllowed"
            result:
              message:
                messageType: "Error"
                text: "Diese HTTP-Methode ist nicht erlaubt."
                code: "DPP_METHOD_NOT_ALLOWED"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    NotFound:
      description: "Ressource nicht gefunden"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientErrorResourceNotFound"
            result:
              message:
                messageType: "Error"
                text: "Die angeforderte Ressource existiert nicht."
                code: "DPP_NOT_FOUND"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    Conflict:
      description: "Einen Konflikt verursachende Ressource (Ressource existiert bereits)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientResourceConflict"
            result:
              message:
                messageType: "Error"
                text: "Die Ressource existiert bereits."
                code: "DPP_CONFLICT"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
    
    # 5xx Server Error Responses (weist Ergebnisobjekt auf)
    InternalServerError:
      description: "Unerwarteter Fehler"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ServerInternalError"
            result:
              message:
                messageType: "Exception"
                text: "Ein interner Serverfehler ist aufgetreten."
                code: "DPP_INTERNAL_ERROR"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
      
    BadGateway:
      description: "Schlechter Gateway"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ServerErrorBadGateway"
            result:
              message:
                messageType: "Exception"
                text: "Der Upstream-Server hat eine ungültige Antwort gesendet."
                code: "DPP_BAD_GATEWAY"
                correlationId: "550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-11-10T14:30:00Z"
              
            
            
            
            
  parameters:
    dppId:
      name: dppId
      in: path
      required: true
      description: "Eindeutige Kennung des DPP (UTF8-BASE64-URL-encoded)"
      schema:
        $ref: "#/components/schemas/IdentifierDPP"
    productId:
      name: productId
      in: path
      required: true
      description: "Eindeutige Kennung des Produkts / der AAS (UTF8-BASE64-URL-encoded)"
      schema:
        $ref: "#/components/schemas/IdentifierAAS"