openapi: 3.0.3
info:
  title: "Digitaler Produktpass (DPP) API"
  description: |
    OpenAPI-Spezifikation basierend auf dem Entwurf der Norm DIN EN 18222:2025.
    Diese API standardisiert die Schnittstellen für das Lebenszyklusmanagement und die Durchsuchbarkeit von Digitalen Produktpässen (DPP) im Einklang mit der European Sustainability Product Regulation (ESPR).
    Sie umfasst drei Hauptbereiche:
    1.  **Life Cycle API**: Hauptmethoden zum Erstellen, Lesen, Aktualisieren und Löschen von DPPs.
    2.  **Registry API**: Eine Methode zur Registrierung eines neuen DPP im zentralen Register der EU-Kommission.
    3.  **Fine-Granular API**: Optionale Methoden für den detaillierten Lese- und Schreibzugriff auf einzelne Datenelemente innerhalb eines DPP.
  version: "1.1.0"
  contact:
    name: "DIN/DKE Gemeinschaftsgremium Digitaler Produktpass"
    email: "samarkhel-khan.yahya@din.de"

servers:
  - url: http://srv01.noah-becker.de/uni/swe/api
    description: "Produktiv-Server"
  - url: http://localhost:8081
    description: "Lokale Entwicklungsumgebung"

tags:
  - name: "DPP Life Cycle API"
    description: "Hauptmethoden zur Verwaltung des DPP-Lebenszyklus."
  - name: "DPP Registry API"
    description: "Schnittstelle zur Registrierung von DPPs im zentralen Register."
  - name: "DPP Fine-Granular Life Cycle API"
    description: "Optionale Operationen für den feingranularen Zugriff auf DPP-Daten."

paths:
  /dpps:
    post:
      tags:
        - "DPP Life Cycle API"
      summary: "Neuen DPP erstellen (CreateDPP)"
      description: "Erstellt einen neuen Digitalen Produktpass nach dem vorgegbenen Schema im Anforderungskörper."
      operationId: "createDPP"
      requestBody:
        required: true
        description: "Das DPP-Objekt, das erstellt werden soll. <i>&mdash; Partielle DPPs werden ebenso akzeptiert. <br> (Jedoch wird mindestens ein Submodel nach dem angegebenen Schema vorausgesetzt)</i>"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DPPRequestScheme"
      responses:
        "201":
          $ref: "#/components/responses/SuccessCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /dpps/{dppId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP anhand seiner ID abrufen (ReadDPPById)"
      description: "Gibt den Digitalen Produktpass für eine bekannte DPP-Kennung zurück."
      operationId: "readDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      responses:
        "200":
          description: "Erfolgreiche Antwort mit dem angeforderten DPP."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPP"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP teilweise aktualisieren (UpdateDPPById)"
      description: "Aktualisiert den Inhalt eines DPPs partiell (Patch). Der eingereichte DPP enthält nur die Daten, die aktualisiert oder hinzugefügt werden sollen. Die Aktualisierung ist atomar: Wenn ein Teil fehlschlägt, wird die gesamte Operation zurückgerollt."
      operationId: "updateDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      requestBody:
        required: true
        description: "Ein partielles DPP-Objekt, das die zu aktualisierenden Felder enthält. Implementierungen können RFC 7396 (JSON Merge Patch) berücksichtigen."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialDPP"
      responses:
        "200":
          description: "DPP erfolgreich aktualisiert. Gibt den vollständigen, aktualisierten DPP zurück."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPP"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP löschen (DeleteDPPById)"
      description: "Entfernt einen DPP anhand seiner ID, z.B. am Ende seines Lebenszyklus. Zugriffsregeln steuern, ob die Löschung erlaubt ist."
      operationId: "deleteDPPById"
      parameters:
        - $ref: "#/components/parameters/dppId"
      responses:
        "204":
          description: "DPP erfolgreich gelöscht."
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductId/{productId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "Aktuellen DPP anhand der Produkt-ID abrufen (ReadDPPByProductId)"
      description: "Gibt den aktuell aktiven (letzte Version) DPP für eine bekannte Produkt-Kennung zurück."
      operationId: "readDPPByProductId"
      parameters:
        - $ref: "#/components/parameters/productId"
      responses:
        "200":
          description: "Erfolgreiche Antwort mit dem angeforderten DPP."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPP"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductIdAndDate/{productId}:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP-Version nach Produkt-ID und Datum abrufen (ReadDPPVersionByProductIdAndDate)"
      description: "Gibt eine spezifische Version eines DPP zurück, basierend auf seiner Produkt-ID und einem angegebenen Datum."
      operationId: "readDPPVersionByProductIdAndDate"
      parameters:
        - $ref: "#/components/parameters/productId"
        - name: date
          in: query
          required: true
          description: "Der Zeitstempel (UTC-basiert), für den die DPP-Version angefordert wird."
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: "Erfolgreiche Antwort mit der angeforderten DPP-Version."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPP"
        "404":
          $ref: "#/components/responses/NotFound"

  /dppsByProductIds:
    get:
      tags:
        - "DPP Life Cycle API"
      summary: "DPP-IDs für eine Liste von Produkt-IDs abrufen (ReadDPPIdsByProductIds)"
      description: "Gibt eine Liste von DPP-Kennungen zurück, die zu einer Menge von Produkt-Kennungen passen. Paginierung wird über 'limit' und 'cursor' unterstützt."
      operationId: "readDPPIdsByProductIds"
      parameters:
        - name: limit
          in: query
          description: "Maximale Anzahl der zurückgegebenen Ergebnisse."
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: cursor
          in: query
          description: "Position, von der aus die Ergebnisliste fortgesetzt werden soll (für Paginierung)."
          schema:
            type: string
      requestBody:
        required: true
        description: "Eine Liste von Produkt-IDs, für die die entsprechenden DPP-IDs gefunden werden sollen."
        content:
          application/json:
            schema:
              type: object
              properties:
                productIds:
                  type: array
                  items:
                    $ref: "#/components/schemas/Identifier"
      responses:
        "200":
          description: "Eine Liste der passenden DPP-Kennungen."
          content:
            application/json:
              schema:
                type: object
                properties:
                  dppIds:
                    type: array
                    items:
                      $ref: "#/components/schemas/Identifier"

  /registerDPP:
    post:
      tags:
        - "DPP Registry API"
      summary: "Neuen DPP im zentralen Register registrieren (PostNewDPPToRegistry)"
      description: "Registriert einen neuen DPP im zentralen Register der EU-Kommission. Gibt eine eindeutige Registrierungs-ID zurück."
      operationId: "postNewDPPToRegistry"
      requestBody:
        required: true
        description: "Ein Objekt, das die Kennungen für Produkt, Betreiber und Sicherungsbetreiber enthält (Teilmenge des DPP-Headers)."
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  $ref: "#/components/schemas/Identifier"
                operatorId:
                  $ref: "#/components/schemas/Identifier"
                backupOperatorId:
                  $ref: "#/components/schemas/Identifier"
      responses:
        "201":
          description: "DPP erfolgreich registriert. Gibt die neue Registrierungs-ID zurück."
          content:
            application/json:
              schema:
                type: object
                properties:
                  registryIdentifier:
                    $ref: "#/components/schemas/Identifier"

  /dpps/{dppId}/collections/{elementId}:
    get:
      tags:
        - "DPP Fine-Granular Life Cycle API"
      summary: "Eine Daten-Sammlung aus einem DPP lesen (ReadDataElementCollection)"
      description: "Gibt eine spezifische 'DataElementCollection' anhand ihrer ID aus einem bestimmten DPP zurück."
      operationId: "readDataElementCollection"
      parameters:
        - $ref: "#/components/parameters/dppId"
        - $ref: "#/components/parameters/elementId"
      responses:
        "200":
          description: "Die angeforderte DataElementCollection."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataElementCollection"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - "DPP Fine-Granular Life Cycle API"
      summary: "Eine Daten-Sammlung in einem DPP aktualisieren (UpdateDataElementCollection)"
      description: "Aktualisiert den Inhalt einer 'DataElementCollection' in einem bestimmten DPP."
      operationId: "updateDataElementCollection"
      parameters:
        - $ref: "#/components/parameters/dppId"
        - $ref: "#/components/parameters/elementId"
      requestBody:
        description: "Partielle DataElementCollection, die nur die zu aktualisierenden Teile enthält."
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialDataElementCollection"
      responses:
        "200":
          description: "Erfolgreich aktualisiert. Gibt optional die aktualisierte Collection zurück."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataElementCollection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /dpps/{dppId}/elements/{elementPath}:
    get:
      tags:
        - "DPP Fine-Granular Life Cycle API"
      summary: "Ein einzelnes Datenelement aus einem DPP lesen (ReadDataElement)"
      description: "Ermöglicht das Lesen eines spezifischen Datenelements mittels seines eindeutigen Pfades innerhalb eines DPPs."
      operationId: "readDataElement"
      parameters:
        - $ref: "#/components/parameters/dppId"
        - $ref: "#/components/parameters/elementPath"
      responses:
        "200":
          description: "Das angeforderte Datenelement."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataElement"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - "DPP Fine-Granular Life Cycle API"
      summary: "Ein einzelnes Datenelement in einem DPP aktualisieren (UpdateDataElement)"
      description: "Aktualisiert ein spezifisches Datenelement innerhalb eines DPPs. Ermöglicht auch das Hinzufügen oder Entfernen von Informationen."
      operationId: "updateDataElement"
      parameters:
        - $ref: "#/components/parameters/dppId"
        - $ref: "#/components/parameters/elementPath"
      requestBody:
        description: "Der neue Inhalt des Datenelements."
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataElement"
      responses:
        "200":
          description: "Erfolgreich aktualisiert. Gibt das geänderte Datenelement zurück."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataElement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  schemas:
    IdentifierAAS:
      type: string
      description: "Ein base64-encodierter String"
      example: "aHR0cHM6Ly9kcHA0MC5oYXJ0aW5nLmNvbS9zaGVsbHMvWlNOMQ=="
    IdentifierDPP:
      type: string
      description: "productId + /DPP/ --> base64-encodiert"
      example: "aHR0cHM6Ly9kcHA0MC5oYXJ0aW5nLmNvbS9zaGVsbHMvWlNOMS9EUFAv"
  
    DPPRequestScheme:
      type: object
      description: "Repräsentiert das Anlegeschema eines Digitalen Produktpasses."
      properties:
        aasIdentifier:
          $ref: "#/components/schemas/IdentifierAAS"
        submodels:
          type: array
          items:
            $ref: "#/components/schemas/SubmodelElement"
    
    SubmodelElement:
      type: object
      properties:
        displayName:
          type: array
          items:
            $ref: "#/components/schemas/LangString"
        description:
          type: array
          items:
            $ref: "#/components/schemas/LangString"
        category:
          type: string
        idShort:
          type: string
        extensions:
          type: array
          items:
            $ref: "#/components/schemas/Extension"
        embeddedDataSpecifications:
          type: array
          items:
            $ref: "#/components/schemas/EmbeddedDataSpecification"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
        qualifiers:
          type: array
          items:
            $ref: "#/components/schemas/Qualifier"
            
    
    DPPScheme:
      type: object
      description: "Repräsentiert den Digitalen Produktpass. Die genaue logische Struktur ist in 'Modul 4: Systeminteroperabilität' der Normungsreihe definiert und wird hier als generisches Objekt dargestellt."
    PartialDPP:
      type: object
      description: "Eine partielle Repräsentation des DPP für PATCH-Operationen."
      additionalProperties: true
    DataElement:
      description: "Ein einzelnes Datenelement innerhalb eines DPP. Kann ein beliebiger Typ sein."
    DataElementCollection:
      type: object
      description: "Eine Sammlung von Datenelementen innerhalb eines DPPs."
      additionalProperties:
        $ref: "#/components/schemas/DataElement"
    PartialDataElementCollection:
      type: object
      description: "Eine partielle Sammlung von Datenelementen für PATCH-Operationen."
      additionalProperties:
        $ref: "#/components/schemas/DataElement"
    ErrorResult:
      type: object
      description: "Das Standard-Antwortobjekt im Fehlerfall."
      properties:
        message:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        
    LangString:
      type: object
      properties:
        language:
          type: string
        text:
          type: string
    
    Extension:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueType:
          type: string
          enum: [ANY_URI]
        refersTo:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
    
    Reference:
      type: object
      properties:
        type:
          type: string
          enum: [EXTERNAL_REFERENCE]
        keys:
          type: array
          items:
            $ref: "#/components/schemas/Key"
        referredSemanticId:
          type: string
    
    Key:
      type: object
      properties:
        value:
          type: string
        type:
          type: string
          enum: [ANNOTATED_RELATIONSHIP_ELEMENT]
    
    EmbeddedDataSpecification:
      type: object
      properties:
        dataSpecification:
          $ref: "#/components/schemas/Reference"
        dataSpecificationContent:
          type: object
          additionalProperties: false
    
    Qualifier:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
        kind:
          type: string
          enum: [CONCEPT_QUALIFIER]
        valueType:
          type: string
          enum: [ANY_URI]
        valueId:
          $ref: "#/components/schemas/Reference"
        semanticId:
          $ref: "#/components/schemas/Reference"
        supplementalSemanticIds:
          type: array
          items:
            $ref: "#/components/schemas/Reference"
            
            
            
            
            
            
    # Nachrichtenstruktur
    Message:
      type: object
      description: "Eine Nachricht, die mehr Informationen für den Anforderer zu einem bestimmten Ereignis im Backend enthält"
      properties:
        messageType:
          $ref: "#/components/schemas/MessageTypeEnum"
        text:
          type: string
          description: "Nachrichtentext"
        code:
          type: string
          description: "Technologieabhängiger Status- oder Fehlercode"
          example: "DPP_001"
        correlationId:
          type: string
          description: "Kennung zum Verbinden von mehreren Ergebnisnachrichten über mehrere Systeme hinweg"
          example: "550e8400-e29b-41d4-a716-446655440000"
        timestamp:
          type: string
          format: date-time
          description: "Zeitstempel der Nachricht"
          example: "2025-11-10T14:30:00Z"
      required:
        - messageType
        - text
    
    # MessageTypeEnum
    MessageTypeEnum:
      type: string
      description: "Nachrichtentyp"
      enum:
        - Info
        - Warning
        - Error
        - Exception
      x-enum-descriptions:
        Info: "dient zum Informieren des Benutzers über eine bestimmte Tatsache"
        Warning: "verwendet für Warnungen; Warnungen können zu Fehlern in der anschließenden Ausführung führen"
        Error: "verwendet zur Fehlerbehandlung"
        Exception: "verwendet bei einer internen und/oder unbehandelten Ausnahme"
    
    
    # Erfolgs-Response
    SuccessResponse:
      type: object
      description: "Erfolgreiche API-Antwort ohne Ergebnisobjekt"
      properties:
        status:
          type: string
          enum:
            - Success
            - SuccessCreated
            - SuccessAccepted
            - SuccessNoContent
          description: "HTTP Success Status"
        message:
          $ref: "#/components/schemas/Message"
      required:
        - status
    
    # Fehler-Response mit Ergebnisobjekt
    ErrorResponse:
      type: object
      description: "Fehlerhafte API-Antwort mit Ergebnisobjekt"
      properties:
        status:
          type: string
          enum:
            - ClientErrorBadRequest
            - ClientNotAuthorized
            - ClientForbidden
            - ClientMethodNotAllowed
            - ClientErrorResourceNotFound
            - ClientResourceConflict
            - ServerInternalError
            - ServerErrorBadGateway
          description: "HTTP Error Status"
        message:
          $ref: "#/components/schemas/Message"
      required:
        - status
        - message

  responses:
    # 2xx Success Responses (weist KEIN Ergebnisobjekt auf)
    Success:
      description: "Erfolg"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "Success"
            message:
              messageType: "Info"
              text: "Die Anfrage wurde erfolgreich verarbeitet."
              code: "DPP_SUCCESS"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    SuccessCreated:
      description: "Erfolgreiche Erstellung einer neuen Ressource"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "SuccessCreated"
            message:
              messageType: "Info"
              text: "Die Ressource wurde erfolgreich erstellt."
              code: "DPP_CREATED"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    SuccessAccepted:
      description: "Der Empfang der Anforderung war erfolgreich"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "SuccessAccepted"
            message:
              messageType: "Info"
              text: "Die Anfrage wurde akzeptiert und wird verarbeitet."
              code: "DPP_ACCEPTED"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    SuccessNoContent:
      description: "Erfolg mit explizit keinem Inhalt in der Nutzlast"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
          example:
            status: "SuccessNoContent"
            message:
              messageType: "Info"
              text: "Die Anfrage wurde erfolgreich verarbeitet, kein Inhalt zurückgegeben."
              code: "DPP_NO_CONTENT"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    # 4xx Client Error Responses (weist Ergebnisobjekt auf)
    BadRequest:
      description: "Schlechte oder fehlerhafte Anforderung"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientErrorBadRequest"
            message:
              messageType: "Error"
              text: "Die Anfrage enthält ungültige Parameter."
              code: "DPP_BAD_REQUEST"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    Unauthorized:
      description: "Falsche oder fehlende Berechtigungsnachweise"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientNotAuthorized"
            message:
              messageType: "Error"
              text: "Authentifizierung fehlgeschlagen."
              code: "DPP_UNAUTHORIZED"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    Forbidden:
      description: "Autorisierung wurde verweigert"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientForbidden"
            message:
              messageType: "Error"
              text: "Sie haben keine Berechtigung für diese Ressource."
              code: "DPP_FORBIDDEN"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    MethodNotAllowed:
      description: "Methodenanforderung ist nicht zulässig"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientMethodNotAllowed"
            message:
              messageType: "Error"
              text: "Diese HTTP-Methode ist nicht erlaubt."
              code: "DPP_METHOD_NOT_ALLOWED"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    NotFound:
      description: "Ressource nicht gefunden"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientErrorResourceNotFound"
            message:
              messageType: "Error"
              text: "Die angeforderte Ressource existiert nicht."
              code: "DPP_NOT_FOUND"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    Conflict:
      description: "Einen Konflikt verursachende Ressource (Ressource existiert bereits)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ClientResourceConflict"
            message:
              messageType: "Error"
              text: "Die Ressource existiert bereits."
              code: "DPP_CONFLICT"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    # 5xx Server Error Responses (weist Ergebnisobjekt auf)
    InternalServerError:
      description: "Unerwarteter Fehler"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ServerInternalError"
            message:
              messageType: "Exception"
              text: "Ein interner Serverfehler ist aufgetreten."
              code: "DPP_INTERNAL_ERROR"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
    
    BadGateway:
      description: "Schlechter Gateway"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: "ServerErrorBadGateway"
            message:
              messageType: "Exception"
              text: "Der Upstream-Server hat eine ungültige Antwort gesendet."
              code: "DPP_BAD_GATEWAY"
              correlationId: "550e8400-e29b-41d4-a716-446655440000"
              timestamp: "2025-11-10T14:30:00Z"
            
            
            
            
            
  parameters:
    dppId:
      name: dppId
      in: path
      required: true
      description: "Eindeutige Kennung des DPP."
      schema:
        $ref: "#/components/schemas/IdentifierDPP"
    productId:
      name: productId
      in: path
      required: true
      description: "Eindeutige Kennung des Produkts."
      schema:
        $ref: "#/components/schemas/IdentifierAAS"
    elementId:
      name: elementId
      in: path
      required: true
      description: "Kennung der DataElementCollection innerhalb des DPP."
      schema:
        $ref: "#/components/schemas/IdentifierAAS"
    elementPath:
      name: elementPath
      in: path
      required: true
      description: "Der absolute Pfad zum spezifischen Datenelement innerhalb des DPP."
      schema:
        type: string
        example: "sustainability.recyclability.recycledContent"